.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto 30px;
  position: sticky;
  top: 0;
  z-index: 10;

  .switchTrack {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--background-primary-color);
    border-radius: 24px;
    padding: 7px;
    padding-right: 3px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    .switchIndicator {
      position: absolute;
      height: calc(100% - 8px);
      width: calc(50% - 2px);
      background: linear-gradient(135deg, #a78bfa 0%, #c084fc 100%);
      border-radius: 20px;
      transition: left 0.3s ease-in-out;
      pointer-events: none;
      top: 4px;

      &.left {
        left: 4px;
      }

      &.right {
        left: 49%
      }
    }

    .switchOption {
      flex: 0 1 auto;
      padding: 10px 24px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      color: var(--text-secondary-color);
      cursor: pointer;
      border-radius: 18px;
      white-space: nowrap;
      position: relative;
      z-index: 2;
      background: transparent;
      transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
      min-width: 100px;
      text-align: center;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }

      &:hover:not(:disabled) {
        color: var(--text-secondary-color);
      }

      &.active {
        color: white;

        &:not(:disabled) {
          cursor: pointer;
        }
      }
    }
  }
}







