.page {
	padding: 20px;
	min-height: calc(100vh - 100px);
    background: var(--background-primary-color);
}

.container {
	max-width: 600px;
	margin: 0 auto;
	height: calc(100vh - var(--tabbar-height));
	display: flex;
	flex-direction: column;
}

:global(.dev) .container {
  height: calc(100vh - var(--tabbar-height) - var(--dev-header-height));
}

.title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 16px;
	color: var(--accent-color);
}

.description {
	font-size: 16px;
	color: var(--innactive-color);
	line-height: 1.5;
	margin-bottom: 24px;
}

.content {
	padding-inline: var(--padding-s);
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.levelsWrapper {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.footer {
	flex-shrink: 0;
	margin-bottom: var(--margin-s);
}