.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--background-primary-color);
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

:global(.dev) .container {
  height: calc(100vh - var(--dev-header-height));
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-shrink: 0;
  margin: var(--margin-s);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  margin-inline: var(--margin-s);
}

.footer {
  padding: var(--padding-s);
  width: 100%;
  box-sizing: border-box;
  background: var(--background-secondary-color);
  transition: var(--transition-ease-base-fast);
  transform: translateY(100%);
}

.footerShow {
  transform: translateY(0%);
}

.button {
  width: 100%;
}
