.wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--background-primary-color);
    padding-top: 20px;
    padding-bottom: 30px;

    .languageSelect {
        background-color: var(--background-primary-color);
        max-width: 600px;
        padding-inline: 30px;
        
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
