.levelButton {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 65px;
  border-radius: 50%;
  background: var(--accent-color);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 8px 0 var(--sub-accent-color);
  transition: all 0.05s ease;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:active {
    box-shadow: 0 3px 0 var(--sub-accent-color);
    transform: translateY(5px);
  }
}
