.podiumContainer{
  display: flex;
  align-items: end;
  justify-content: center;

  --podium-first-place-primary-color: #FFCF0F;
  --podium-first-place-secondary-color: #ffdf38;

  --podium-second-place-primary-color: #9DA5BD;
  --podium-second-place-secondary-color: #b3bbcd;

  --podium-third-place-primary-color: #D89142;
  --podium-third-place-secondary-color: #f0ba74;
}

.podiumStandContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.podiumUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  margin-bottom: 1.5em;
}

.podiumAvatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.podiumUsername {
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  max-width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.podiumStars {
  font-size: 0.85em;
  font-weight: 500;
  color: #ffd700;
  display: flex;
  align-items: center;
  gap: 4px;
}

.podiumStand {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  width: 7em;
  color: #fff;
}

.podiumStand span {
  font-weight: 600;
  user-select: none;
}

.podiumStand::after {
  height: 2.5em;
}

.podiumFirstPlace {
  height: 12em;
  background: var(--podium-first-place-primary-color);
}

.podiumSecondPlace {
  height: 9em;
  background: var(--podium-second-place-primary-color);
}

.podiumThirdPlace {
  height: 6em;
  background: var(--podium-third-place-primary-color);
}


.podiumFirstPlace span {
  font-size: 10em;
}

.podiumSecondPlace span {
  font-size: 8em;
}

.podiumThirdPlace span {
  font-size: 6em;
}

.podiumFirstPlace::after {
  position: absolute;
  transform-origin: bottom right;
  content: '';
  right: 0; bottom: 100%; left: 0;
  background: var(--podium-first-place-secondary-color);
  clip-path: polygon(0% 100%, 17.5% 40%, 82.5% 40%, 100% 100%)
}

.podiumSecondPlace::after {
  position: absolute;
  transform-origin: bottom right;
  content: '';
  right: 0; bottom: 100%; left: 0;
  background: var(--podium-second-place-secondary-color);
  clip-path: polygon(0% 100%, 17.5% 40%, 100% 40%, 100% 100%);
}

.podiumThirdPlace::after {
  position: absolute;
  transform-origin: bottom right;
  content: '';
  right: 0; bottom: 100%; left: 0;
  background: var(--podium-third-place-secondary-color);
  clip-path: polygon(0% 100%, 0% 40%, 82.5% 40%, 100% 100%);
}



@media (screen and max-height: 750px) {
  .podiumFirstPlace {
    height: 8em;
  }

  .podiumSecondPlace {
    height: 6em;
  }

  .podiumThirdPlace {
    height: 4em;
  }

  .podiumFirstPlace span {
    font-size: 8em;
  }

  .podiumSecondPlace span {
    font-size: 6em;
  }

  .podiumThirdPlace span {
    font-size: 4em;
  }

}

@media (screen and max-height: 650px) {
  .podiumFirstPlace {
    height: 7em;
  }

  .podiumSecondPlace {
    height: 5em;
  }

  .podiumThirdPlace {
    height: 3em;
  }
}

@media (screen and max-width: 450px) {
  .podiumStand {
    width: 7em;
  }
}

